/* line 5, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
.header {
  background: url(../img/header.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 715px;
}

/* line 13, ../sass/style.scss */
.top-line {
  background: #2c3440;
  height: 78px;
  line-height: 78px;
  background-color: #2c3440;
  -webkit-box-shadow: 0 1px 1px #2c3440;
  -moz-box-shadow: 0 1px 1px #2c3440;
  -o-box-shadow: 0 1px 1px #2c3440;
  box-shadow: 0 1px 1px #2c3440;
}
/* line 22, ../sass/style.scss */
.top-line .container {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 25, ../sass/style.scss */
.top-line .container .top-line-logo {
  display: block;
  float: left;
}
/* line 29, ../sass/style.scss */
.top-line .container .top-line-nav {
  display: inline-block;
}
/* line 31, ../sass/style.scss */
.top-line .container .top-line-nav li {
  float: left;
  margin-left: 35px;
}
/* line 34, ../sass/style.scss */
.top-line .container .top-line-nav li a {
  font: 14px OpenSansRegular;
  color: #fff;
  text-transform: uppercase;
}
/* line 41, ../sass/style.scss */
.top-line .container .top-line-user {
  display: inline-block;
  float: right;
}
/* line 44, ../sass/style.scss */
.top-line .container .top-line-user li {
  float: left;
}
/* line 46, ../sass/style.scss */
.top-line .container .top-line-user li a {
  font: 15px VerdanaRegular;
  color: #b7c5d9;
  text-transform: uppercase;
}
