/* line 5, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
.header {
  background: url(../img/header.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 715px;
}

/* line 13, ../sass/style.scss */
.topline {
  background: #2c3440;
  height: 78px;
  line-height: 78px;
  background-color: #2c3440;
  -webkit-box-shadow: 0 2px 2px #2d2d2d;
  -moz-box-shadow: 0 2px 2px #2d2d2d;
  -o-box-shadow: 0 2px 2px #2d2d2d;
  box-shadow: 0 2px 2px #2d2d2d;
}
/* line 22, ../sass/style.scss */
.topline .container {
  max-width: 1170px;
  margin: 0 auto;
}
/* line 25, ../sass/style.scss */
.topline .container .topline-logo {
  display: inline-block;
  float: left;
}
/* line 28, ../sass/style.scss */
.topline .container .topline-logo img {
  padding-bottom: 10px;
}
/* line 32, ../sass/style.scss */
.topline .container .topline-nav {
  display: inline-block;
  vertical-align: middle;
}
/* line 35, ../sass/style.scss */
.topline .container .topline-nav li {
  float: left;
  margin-left: 35px;
}
/* line 38, ../sass/style.scss */
.topline .container .topline-nav li a {
  font: 14px OpenSansRegular;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 47, ../sass/style.scss */
.topline .container .topline-nav li a:hover {
  color: #f1c439;
  text-decoration: none;
}
/* line 53, ../sass/style.scss */
.topline .container .topline-user {
  display: inline-block;
  float: right;
}
/* line 56, ../sass/style.scss */
.topline .container .topline-user .btn-user {
  float: left;
  height: 32px;
  line-height: 32px;
  margin-left: 8px;
  background-color: #405770;
  border: 0;
  color: #b7c5d9;
  font: 15px VerdanaRegular;
  padding: 6px;
  margin-top: 23px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 2px 2px rgba(35, 35, 35, 0.75);
  -moz-box-shadow: 0 2px 2px rgba(35, 35, 35, 0.75);
  -o-box-shadow: 0 2px 2px rgba(35, 35, 35, 0.75);
  box-shadow: 0 2px 2px rgba(35, 35, 35, 0.75);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 80, ../sass/style.scss */
.topline .container .topline-user .btn-user:last-child {
  padding: 6px 20px;
}
/* line 83, ../sass/style.scss */
.topline .container .topline-user .btn-user:hover {
  background: #314f6f;
  color: #f1c439;
}

/* line 92, ../sass/style.scss */
.header-content .fast-start {
  display: block;
  float: left;
}
/* line 95, ../sass/style.scss */
.header-content .fast-start img {
  -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);
}
/* line 100, ../sass/style.scss */
.header-content .form-signup {
  max-width: 389px;
  height: 406px;
  display: block;
  float: right;
  position: relative;
  background: url(../img/form-shadow.png) 0 0 no-repeat;
}
/* line 107, ../sass/style.scss */
.header-content .form-signup input {
  background: #000;
  border: 1px solid #f1c439;
  border-left-width: 4px;
}
