@import "compass/reset";


.header {
	background: url(../img/header.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 715px;
}

.topline {
	background: #2c3440;
	height: 78px;
	line-height: 78px;
	background-color: #2c3440;
	-webkit-box-shadow: 0 2px 2px rgba(45,45,45,1);
	-moz-box-shadow: 0 2px 2px rgba(45,45,45,1);
	-o-box-shadow: 0 2px 2px rgba(45,45,45,1);
	box-shadow: 0 2px 2px rgba(45,45,45,1);
	.container {
		.topline-logo {
			display: inline-block;
			float: left;
			margin-left: 60px;
			img {
				padding-bottom: 10px;
			}
		}
		.btn-nav {
			border: none;
			background: transparent;
			color: white;
			font-size: 26px;
			line-height: 32px;
			margin: 25px 0 0 25px;
		}
		.topline-nav {
			display: inline-block;
			vertical-align: middle;
			li {
				float: left;
				margin-left: 35px;
				a {
					font: 14px OpenSansRegular;
					color: #fff;
					text-transform: uppercase;
					-webkit-transition: all 0.25s;
					-moz-transition: all 0.25s;
					-o-transition: all 0.25s;
					transition: all 0.25s;
				}
				a:hover {
					color: #e8b927;
					text-decoration: none;
				}
			}
		}
		.topline-user {
			display: inline-block;
			float: right;
			.btn-user-xs {
				border: none;
				background: transparent;
				color: white;
				font-size: 26px;
				line-height: 32px;
				margin: 25px 25px 0 0;
			}
			.btn-reg {
				height: 32px;
				line-height: 32px;
				background-color: #405770;
				border: 0;
				color: #b7c5d9;
				font: 15px VerdanaRegular;
				padding: 6px;
				margin-top: 23px;
				-webkit-border-radius: 1px;
				-moz-border-radius: 1px;
				-o-border-radius: 1px;
				border-radius: 1px;
				-webkit-box-shadow: 0 2px 2px rgba(35,35,35,0.75);
				-moz-box-shadow: 0 2px 2px rgba(35,35,35,0.75);
				-o-box-shadow: 0 2px 2px rgba(35,35,35,0.75);
				box-shadow: 0 2px 2px rgba(35,35,35,0.75);
				-webkit-transition: all 0.25s;
				-moz-transition: all 0.25s;
				-o-transition: all 0.25s;
				transition: all 0.25s;
			}
			.btn-reg:hover {
				background: #314f6f;
				color: #e8b927;
			}
			.btn-user {
				height: 32px;
				line-height: 32px;
				/*margin-left: 8px;*/
				background-color: #405770;
				border: 0;
				color: #b7c5d9;
				font: 15px VerdanaRegular;
				padding: 6px;
				margin-top: 23px;
				-webkit-border-radius: 1px;
				-moz-border-radius: 1px;
				-o-border-radius: 1px;
				border-radius: 1px;
				-webkit-box-shadow: 0 2px 2px rgba(35,35,35,0.75);
				-moz-box-shadow: 0 2px 2px rgba(35,35,35,0.75);
				-o-box-shadow: 0 2px 2px rgba(35,35,35,0.75);
				box-shadow: 0 2px 2px rgba(35,35,35,0.75);
				-webkit-transition: all 0.25s;
				-moz-transition: all 0.25s;
				-o-transition: all 0.25s;
				transition: all 0.25s;
			}
			.btn-user:last-child {
				padding: 6px 20px;
			}	
			.btn-user:hover {
				background: #314f6f;
				color: #e8b927;
			}
		}
	}
}

.header-content {
	.container {
		h3 {
			font: 26px OpenSansBold;
			line-height: 38px;
			color: white;
			text-transform: uppercase;
			text-align: center;
			margin: 45px 0 0 0;
		}
		h1 {
			font: 42px OpenSansBold;
			line-height: 61px;
			color: white;
			text-transform: uppercase;
			text-align: center;
			margin: 0;
		}
		span {
			color: #e8b927;
		}
		.fast-start {
			display: block;
			float: left;
			margin-top: 80px;
			img {
				-webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 20%, transparent 100%);
			}
			.video-js {
				top: -336px;
    			left: 73px;
    			font-size: 20px;
    			border: 0.04em solid #fff;
    			.vjs-big-play-button {
    				height: 2em;
    				border-radius: 2em;
    				line-height: 1.8em;
    				width: 2em;
    				top: 32%;
    				left: 38%;
    			}
			}
		}
		.form-signup {
			width: 389px;
			height: 406px;
			display: block;
			float: right;
			background: url(../img/form-shadow.png) 0 0 no-repeat;
			margin: 50px 40px 0 0;
			input {
				background: #000;
				border: 1px solid #f1c439;
				border-left-width: 4px; 	
			}
			h4 {
				font: 23px OpenSansBold;
				color: white;
				text-transform: uppercase;
				margin: 30px 0 0 30px;
			}
			p {
				font: 14px OpenSansRegular;
				color: white;
				margin: 0 0 0 30px;
			}
			form {
				margin: 30px 0 0 30px;
				input {
					width: 330px;
					height: 45px;
					margin-bottom: 20px;
					padding-left: 10px;
				}
				.btn-signup {
					width: 240px;
					height: 55px;
					background: #e8b927;
					color: white;
					font: 16px OpenSansExtraBold;
					text-transform: uppercase;
					border: 1px solid #e8b927;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					-o-border-radius: 2px;
					border-radius: 2px;
					margin: 10px 0 0 45px;
					-webkit-transition: all 0.25s;
					-moz-transition: all 0.25s;
					-o-transition: all 0.25s;
					transition: all 0.25s;
				}

				.btn-signup:hover {
					background: #D2A005;
					border-color: #D2A005; 
				}
			}
		}
	}
}
	